#navbar {
    font-size: 25px;

    .green-title {
        color: $bg-primary;
    }

    .blue-title {
        color: $secondary-color;
    }

    .logo-nav {
        height: 50px;
        position: relative;
        top: 8px;
        // margin-top: 15px;
    }

    #nav-fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
}

#nav-fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
